<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fawvw.ms.voucher.basedao.mapper.OemVoucherUserTriggerReceiptionMappingMapper">
  <resultMap id="BaseResultMap" type="com.fawvw.ms.voucher.basedao.model.OemVoucherUserTriggerReceiptionMapping">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="aid_ref" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="last_times" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="fk_grant_type_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="fk_batch_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, aid_ref, last_times, fk_grant_type_id, create_time, update_time, fk_batch_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from oem_voucher_user_trigger_receiption_mapping
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oem_voucher_user_trigger_receiption_mapping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fawvw.ms.voucher.basedao.model.OemVoucherUserTriggerReceiptionMapping" useGeneratedKeys="true">
    insert into oem_voucher_user_trigger_receiption_mapping (aid_ref, last_times, fk_grant_type_id,
      create_time, update_time, fk_batch_id
      )
    values (#{aidRef,jdbcType=VARCHAR}, #{lastTimes,jdbcType=INTEGER}, #{fkGrantTypeId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{fkBatchId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fawvw.ms.voucher.basedao.model.OemVoucherUserTriggerReceiptionMapping" useGeneratedKeys="true">
    insert into oem_voucher_user_trigger_receiption_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aidRef != null">
        aid_ref,
      </if>
      <if test="lastTimes != null">
        last_times,
      </if>
      <if test="fkGrantTypeId != null">
        fk_grant_type_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="fkBatchId != null">
        fk_batch_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aidRef != null">
        #{aidRef,jdbcType=VARCHAR},
      </if>
      <if test="lastTimes != null">
        #{lastTimes,jdbcType=INTEGER},
      </if>
      <if test="fkGrantTypeId != null">
        #{fkGrantTypeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkBatchId != null">
        #{fkBatchId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fawvw.ms.voucher.basedao.model.OemVoucherUserTriggerReceiptionMapping">
    update oem_voucher_user_trigger_receiption_mapping
    <set>
      <if test="aidRef != null">
        aid_ref = #{aidRef,jdbcType=VARCHAR},
      </if>
      <if test="lastTimes != null">
        last_times = #{lastTimes,jdbcType=INTEGER},
      </if>
      <if test="fkGrantTypeId != null">
        fk_grant_type_id = #{fkGrantTypeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkBatchId != null">
        fk_batch_id = #{fkBatchId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fawvw.ms.voucher.basedao.model.OemVoucherUserTriggerReceiptionMapping">
    update oem_voucher_user_trigger_receiption_mapping
    set aid_ref = #{aidRef,jdbcType=VARCHAR},
      last_times = #{lastTimes,jdbcType=INTEGER},
      fk_grant_type_id = #{fkGrantTypeId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      fk_batch_id = #{fkBatchId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>