<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fawvw.ms.voucher.basedao.mapper.OemVoucherGrantRecordMapper">
    <resultMap id="BaseResultMap" type="com.fawvw.ms.voucher.basedao.model.OemVoucherGrantRecord">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="aid_ref" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="grantee" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="grantee_check_status" javaType="java.lang.Byte" jdbcType="TINYINT" />
            <arg column="sms_send_status" javaType="java.lang.Byte" jdbcType="TINYINT" />
            <arg column="grant_voucher_status" javaType="java.lang.Byte" jdbcType="TINYINT" />
            <arg column="grantee_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
            <arg column="grantee_check_status_failed_reason" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="fk_grant_type_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="deleted" javaType="java.lang.Byte" jdbcType="TINYINT" />
            <arg column="active" javaType="java.lang.Byte" jdbcType="TINYINT" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, aid_ref, grantee, grantee_check_status, sms_send_status, grant_voucher_status,
    grantee_type, grantee_check_status_failed_reason, fk_grant_type_id, create_time,
    update_time, deleted, active
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from oem_voucher_grant_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oem_voucher_grant_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fawvw.ms.voucher.basedao.model.OemVoucherGrantRecord" useGeneratedKeys="true">
    insert into oem_voucher_grant_record (aid_ref, grantee, grantee_check_status,
      sms_send_status, grant_voucher_status, grantee_type,
      grantee_check_status_failed_reason, fk_grant_type_id,
      create_time, update_time, deleted,
      active)
    values (#{aidRef,jdbcType=VARCHAR}, #{grantee,jdbcType=VARCHAR}, #{granteeCheckStatus,jdbcType=TINYINT},
      #{smsSendStatus,jdbcType=TINYINT}, #{grantVoucherStatus,jdbcType=TINYINT}, #{granteeType,jdbcType=TINYINT},
      #{granteeCheckStatusFailedReason,jdbcType=VARCHAR}, #{fkGrantTypeId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=TINYINT},
      #{active,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fawvw.ms.voucher.basedao.model.OemVoucherGrantRecord" useGeneratedKeys="true">
        insert into oem_voucher_grant_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aidRef != null">
                aid_ref,
            </if>
            <if test="grantee != null">
                grantee,
            </if>
            <if test="granteeCheckStatus != null">
                grantee_check_status,
            </if>
            <if test="smsSendStatus != null">
                sms_send_status,
            </if>
            <if test="grantVoucherStatus != null">
                grant_voucher_status,
            </if>
            <if test="granteeType != null">
                grantee_type,
            </if>
            <if test="granteeCheckStatusFailedReason != null">
                grantee_check_status_failed_reason,
            </if>
            <if test="fkGrantTypeId != null">
                fk_grant_type_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="active != null">
                active,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aidRef != null">
                #{aidRef,jdbcType=VARCHAR},
            </if>
            <if test="grantee != null">
                #{grantee,jdbcType=VARCHAR},
            </if>
            <if test="granteeCheckStatus != null">
                #{granteeCheckStatus,jdbcType=TINYINT},
            </if>
            <if test="smsSendStatus != null">
                #{smsSendStatus,jdbcType=TINYINT},
            </if>
            <if test="grantVoucherStatus != null">
                #{grantVoucherStatus,jdbcType=TINYINT},
            </if>
            <if test="granteeType != null">
                #{granteeType,jdbcType=TINYINT},
            </if>
            <if test="granteeCheckStatusFailedReason != null">
                #{granteeCheckStatusFailedReason,jdbcType=VARCHAR},
            </if>
            <if test="fkGrantTypeId != null">
                #{fkGrantTypeId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=TINYINT},
            </if>
            <if test="active != null">
                #{active,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fawvw.ms.voucher.basedao.model.OemVoucherGrantRecord">
        update oem_voucher_grant_record
        <set>
            <if test="aidRef != null">
                aid_ref = #{aidRef,jdbcType=VARCHAR},
            </if>
            <if test="grantee != null">
                grantee = #{grantee,jdbcType=VARCHAR},
            </if>
            <if test="granteeCheckStatus != null">
                grantee_check_status = #{granteeCheckStatus,jdbcType=TINYINT},
            </if>
            <if test="smsSendStatus != null">
                sms_send_status = #{smsSendStatus,jdbcType=TINYINT},
            </if>
            <if test="grantVoucherStatus != null">
                grant_voucher_status = #{grantVoucherStatus,jdbcType=TINYINT},
            </if>
            <if test="granteeType != null">
                grantee_type = #{granteeType,jdbcType=TINYINT},
            </if>
            <if test="granteeCheckStatusFailedReason != null">
                grantee_check_status_failed_reason = #{granteeCheckStatusFailedReason,jdbcType=VARCHAR},
            </if>
            <if test="fkGrantTypeId != null">
                fk_grant_type_id = #{fkGrantTypeId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=TINYINT},
            </if>
            <if test="active != null">
                active = #{active,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fawvw.ms.voucher.basedao.model.OemVoucherGrantRecord">
    update oem_voucher_grant_record
    set aid_ref = #{aidRef,jdbcType=VARCHAR},
      grantee = #{grantee,jdbcType=VARCHAR},
      grantee_check_status = #{granteeCheckStatus,jdbcType=TINYINT},
      sms_send_status = #{smsSendStatus,jdbcType=TINYINT},
      grant_voucher_status = #{grantVoucherStatus,jdbcType=TINYINT},
      grantee_type = #{granteeType,jdbcType=TINYINT},
      grantee_check_status_failed_reason = #{granteeCheckStatusFailedReason,jdbcType=VARCHAR},
      fk_grant_type_id = #{fkGrantTypeId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=TINYINT},
      active = #{active,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>