<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fawvw.ms.voucher.core.mapper.CoreVoucherDealerGrantRecordMapper">
    <select id="grantRecordList" resultType="java.util.Map">
        select
        r.id as id,
        r.mobile as mobile,
        r.vin as vin,
        count(1) as grantCount,
        r.status as status,
        r.car_model_name as carModelName,
        b.voucher_name as voucherName,
        b.redeem_value as redeemValue
        from voucher_dealer_grant_record r
        inner join voucher_batch b on r.fk_batch_id = b.id
        <where>
            r.dealer_code = #{refId}
            <if test="vin != null and vin != ''">
                and r.vin = #{vin}
            </if>
            <if test="phone != null and phone != ''">
                and r.mobile = #{phone}
            </if>
        </where>
        GROUP BY r.vin,r.fk_batch_id,r.status,r.create_time ORDER BY r.id DESC
    </select>
    <select id="queryByAidAndBatchId" resultMap="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.BaseResultMap">
        select
        <include refid="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.Base_Column_List" />
        from voucher_dealer_grant_record
        where status = 0 and fk_batch_id = #{batchId} and aid_ref = #{refId} and vin = #{vin} and dealer_code = #{dealerCode} and create_time = #{createTime}
    </select>
    <select id="queryByAidAndBatchIdForOem" resultMap="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.BaseResultMap">
        select
        <include refid="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.Base_Column_List" />
        from voucher_dealer_grant_record
        where status = 0 and fk_batch_id = #{batchId} and aid_ref = #{refId} and vin = #{vin} and create_time = #{createTime}
    </select>
    <select id="queryByfkBatchGrantRecordId" resultMap="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.BaseResultMap">
        select
        <include refid="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.Base_Column_List" />
        from voucher_dealer_grant_record
        where fk_batch_grant_record_id = #{batchGrantRecordId}
    </select>
    <select id="grantRecordListForOem" resultType="java.util.Map">
        select
        r.id as id,
        r.mobile as mobile,
        r.vin as vin,
        count(1) as grantCount,
        r.status as status,
        r.car_model_name as carModelName,
        b.voucher_name as voucherName,
        b.redeem_value as redeemValue
        from voucher_dealer_grant_record r
        inner join voucher_batch b on r.fk_batch_id = b.id
        <where>
            <if test="vin != null and vin != ''">
                and r.vin = #{vin}
            </if>
            <if test="phone != null and phone != ''">
                and r.mobile = #{phone}
            </if>
        </where>
        GROUP BY r.vin,r.fk_batch_id,r.status,r.create_time
    </select>
    <select id="queryByVin" resultMap="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.BaseResultMap">
        select
        <include refid="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.Base_Column_List" />
        from voucher_dealer_grant_record
        where status = 0 and vin = #{vin}
    </select>
    <select id="queryByDealerCode" resultMap="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.BaseResultMap">
        select
        <include refid="com.fawvw.ms.voucher.basedao.mapper.VoucherDealerGrantRecordMapper.Base_Column_List" />
        from voucher_dealer_grant_record
        where dealer_code = #{dealerCode}
        and grant_big_region_code is not null
        and grant_big_region_name is not null
        and grant_small_region_code is not null
        and grant_small_region_name is not null
        and grant_dealer_name is not null
    </select>
</mapper>